<app-header></app-header>

<ion-content>
    <ion-grid>
        <br>
        <ion-row justify-content-center wrap>
            <ion-col class="ion-text-center">
                <h1>Seguros Personales</h1>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center wrap>
            <ion-col size-md="4" size-xs="12">
                <ion-card>
                  <img src="assets/seguro_accidentes_personales.jpg" />
                  <ion-card-header>
                    <ion-card-title>Seguros de Accidentes Personales</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>
          <ion-col size-md="4" size-xs="12">
            <ion-card>
              <img src="assets/seguro_de_vida.jpg" />
              <ion-card-header>
                <ion-card-title>Seguros de Vida</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size-md="4" size-xs="12">
            <ion-card>
              <img src="assets/seguro_de_ahorro.jpg" />
              <ion-card-header>
                <ion-card-title>Seguros de Ahorro</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center wrap> 
            <ion-col size-md="4" size-xs="12">
                <ion-card>
                    <img src="assets/seguro_medico.jpg" />
                    <ion-card-header>
                        <ion-card-title>Seguros de Gastos Médicos</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size-md="4" size-xs="12">
                <ion-card>
                    <img src="assets/seguro_fianza.jpg" />
                    <ion-card-header>
                        <ion-card-title>Fianzas</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <br><br>
        <ion-row justify-content-center wrap>
            <ion-col class="ion-text-center">
                <h1>Seguros Corporativos</h1>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center wrap>
            <ion-col size-md="4" size-xs="12">
                <ion-card>
                  <img src="assets/seguro_grupos.jpg" />
                  <ion-card-header>
                    <ion-card-title>Seguros para Grupos</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>
          <ion-col size-md="4" size-xs="12">
            <ion-card>
              <img src="assets/seguro_de_vida_grupos.jpg" />
              <ion-card-header>
                <ion-card-title>Seguros de Vida</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size-md="4" size-xs="12">
            <ion-card>
              <img src="assets/reclamos.jpg" />
              <ion-card-header>
                <ion-card-title>Seguros de Responsabilidad Civil
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row><br>
      </ion-grid>
</ion-content>
