<app-header></app-header>

<ion-content>
  <ion-row justify-content-center> <!--Servicios titulo-->
    <ion-col class="ion-text-center">
      <h1 id="SERVICIOS">Servicios</h1>
    </ion-col>
  </ion-row>
  <ion-row wrap> <!--Servicios Info-->
    <ion-col size-md="4" size-xs="12"><!--Consultoria-->
      <ion-card>
        <img src="assets/estrategia.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Finanzas</ion-card-subtitle>
          <ion-list>
            <ion-item>
              <ion-label class="ion-text-wrap">
                Administración de Cartera
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">
                Recuperación de cartera vencida extrajudcial o judicial</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">
                Mediación de Adeudos
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">
                Estudios de Crédito</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">
                Optimización de Flujos de Efectivo</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-md="4" size-xs="12"><!--Operacion-->
      <ion-card>
        <img src="assets/personal.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Capital Humano</ion-card-subtitle>
          <ion-list>
            <ion-item>
              <ion-label class="ion-text-wrap">
                Capacitación y desarrollo de personal</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">
                Capital Administrativo y Operativo</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">
               Estudios socioeconómicos</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-md="4" size-xs="12"><!--Planeacion-->
      <ion-card>
        <img src="assets/consultoria.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Eficiencia y Rentabilidad
          </ion-card-subtitle>
          <ion-list>
            <ion-item>
              <ion-label class="ion-text-wrap">
                Diagnóstico empresarial
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">
                Consultoría y reingeniería de procesos y operaciones a todos los niveles empresariales
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">
                Consultoría y reingeniería de procesos y operaciones a todos los niveles empresariales
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">
                Alineamiento de personal y de procesos al plan estratégico organizacional
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">
                Servicio de desarrollo de proveedores estratégicos
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-md="4" size-xs="12"><!--Control-->
      <ion-card>
        <img src="assets/admin.jpeg" />
        <ion-card-header>
          <ion-card-subtitle>Administración          </ion-card-subtitle>
          <ion-list>
            <ion-item>
              <ion-label class="ion-text-wrap">
                Asignación de personal temporal o por proyecto</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">
                Administración de unidades de negocio
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">
                Auditorías administrativas, Jurídicas, Laborales y de Procesos Operativos
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-md="4" size-xs="12"><!--Control-->
      <ion-card>
        <img src="assets/operation.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Operaciones          </ion-card-subtitle>
          <ion-list>
            <ion-item>
              <ion-label class="ion-text-wrap">
                Diseño y Desarrollo de Software Empresarial</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">
                Desarrollo de nuevas estrategias comerciales
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">
                Desarrollo de proyectos de Eficiencia
                            </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
