.align-text-middle {
    display: flex;
    align-items: center;
}
.md .ion-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
ion-card{
    height: 100%;
    margin: 15px;
    text-align: center;
}
ion-slides {
    height: 100%;
    width: 100%;
 }